<h1>Lessons#index</h1>
<table>
  <tr><a href="https://speakerdeck.com/mrkhutter/rails-study-group-day-1">Day 1 Slides</a></tr></br>
  <tr><a href="https://speakerdeck.com/mrkhutter/shipt-rails-study-group-day-3">Day 3 Slides</a></tr>
</table>
